.emptyTaskList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  border-top: 1px solid var(--gray-400);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-top: 1.5rem;
}

.emptyTaskList img {
  height: 4rem;
  margin-top: 4rem;
}

.emptyTaskList div {
  margin-top: 1rem;
}

.emptyTaskList strong{
  font-size: 1rem;
}